emoji == 1.6.3
#unicodedata
regex == 2022.3.2
nltk == 3.2.5
pandas
numpy
sklearn
spacy>=2.2.0,<3.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm